@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Telefone</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Fernando</td>
            <td>(16) 98823-0201</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Carol</td>
            <td>(16) 98823-4512</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Felipe</td>
            <td>(17) 99732-4512</td>
        </tr>
    </tbody>
</table>