<h1>Usuarios Cadastrados</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Login</th>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Fernando</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Carol</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Felipe</td>
        </tr>
    </tbody>
</table>